*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

#counter-seconds{
    margin-left: 10px;
    margin-top: 20px;
}
#counter-seconds1{
    margin-left: 10px;
    margin-top: 20px;
}
.container1{
    margin-top: 20px;
}

.container2{
    margin-top: 20px;
}

#buttonBlock{
    margin-top: 10px;
}

button{
    padding: 5px;
}

button#stop{
    display: none;
}